/**
* Custom.scss for libraries
 */

@import '~bootstrap';
@import '~bootstrap-vue';
@import "now-ui-kit";

// import our style
@import "main";

@import '~vuejs-noty/dist/vuejs-noty.css';
@import "~vue-multiselect/dist/vue-multiselect.min.css";

