@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');
body {
  background: #F8F8F8;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
.navbar {
  font-size: 16px;
}
.search.input-holder {
  color: #515c6f;
  background-color: #fff;
  padding: 5px 5px 5px 20px;
  border-radius: 4px;
  border: 2px solid #e4e6ee !important;
  transition-duration: .2s;
  transition-property: border-color,box-shadow;
}
.search.input-holder input {
  border: none;
  background-color: #FFF;
  margin-left: 23px;
  font-size: 14px;
  padding: 8px;
  width: 90%;
  display: inline-block;
}
.search.form-control {
  display: block;
  width: 100%;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  background: #007EFF;
  box-shadow: 0px 8px 16px rgba(0, 126, 255, 0.16);
  transition: background 0.5s;
}
.form-control:focus {
  border-color: #007EFF !important;
}
.btn-primary:hover {
  background: #0752e4!important;
}
.btn-primary:active {
  background: #0752e4!important;
}
.btn-cart {
  background: #007EFF;
  box-shadow: 0px 8px 16px rgba(0, 126, 255, 0.16);
  transition: background 0.5s;
  border-radius: 8px;
}
.btn-cart:hover {
  background: #0752e4!important;
}
.btn-cart:active {
  background: #0752e4!important;
}
.bg-primary {
  background: #fff !important;
  border-radius: 8px;
}
.navbar a:not(.btn):not(.dropdown-item) {
  color: #000;
}
.nav-item.active {
  background-color: rgba(179, 179, 179, 0.2);
}
.badge-dark {
  background-color: #343a40 !important;
  font-size: 14px !important;
}
.product-title {
  font-size:18px;font-weight: 600;
  display: block;
  margin-top: 51px;
}
.product-price {
  font-size: 25px;
  font-weight: 600;
  margin-top: 8px;
}
.v--modal-overlay {
  background: hsla(0,0%,100%,.6) !important;
}
.btn-outline-primary {
  color: #007eff;
  border-color: #757575;
  border: 2px solid!important;
}
.btn-default {
  background-color: #424242 !important;
}

/**
Shopping cart
 */
$main-color: #6394F8;
$light-text: #ABB0BE;

.dropdown-menu {
  min-width: 300px!important;
}
.item-name {
  padding-top: 10px;
  font-size: 16px;
  //white-space: nowrap; overflow: hidden;text-overflow:ellipsis;
}
.item-price {
  color: $main-color;
  margin-right: 8px;
}

.item-quantity {
  color: $light-text;
}

.multiselect__option {
  font-size: 13px !important;
}
.multiselect__tags {
  font-size: 13px  !important;
}
.multiselect__element {
  font-size: 13px !important;
}
.multiselect__single {
  font-size: 13px !important;
}
.multiselect__input, .multiselect__single {
  font-size: 13px !important;
}
.btn-primary.disabled {
  background: #808080;
}
